.main_container{
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

.main__body{
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  align-items: center;
  /* position: absolute;
  top: 100px; */
}



.main__body--az:hover > .fa-book{
  text-shadow: 2px 5px 10px rgb(247, 244, 244);
}

.main__body--lore:hover > .fa-book{
  text-shadow: 2px 5px 10px rgb(247, 244, 244);
}

.main__body--custom:hover > .fa-book{
  text-shadow: 2px 5px 10px rgb(247, 244, 244);
}

.fa-book{
  font-size: 120px;
  color: gray;
  cursor: pointer;
  position: relative;
  margin: 30px;
}
.fa-book:hover{
  text-shadow: 2px 5px 10px rgb(247, 244, 244);
}
.book__text:hover + .fa-book{
  text-shadow: 2px 5px 10px rgb(247, 244, 244);
}

.book__text{
  font-size: 20px;
  font-weight: 700;
  font-style: italic;
  position: relative;
  bottom: 85px;
  font-family: 'Girassol', cursive;
  cursor: pointer;
  color: black;
  text-shadow: 1px 1px rgb(187, 180, 180);
}

.main__search--container{
  position: relative;
  top: 30px;
}

.positional__helper{
  /* position: relative;
  top: 100px;
  left: 650px; */
  /* height: 100vh; */
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  align-items: center;
  position: absolute;
  top: 100px;
}

.main__search--input{
  height: 30px;
  width: 300px;
  box-sizing: border-box;
  box-shadow: 1px 1px 1px red;
  border-radius: 9%;
}

.main__search--header{
  font-size: 60px;
  font-family: 'Girassol', cursive;
  margin-bottom: 30px;
  text-shadow: 2px 2px rgb(170, 13, 13);
}
