.main_container{
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

.main__body{
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  align-items: center;
  /* position: absolute;
  top: 100px; */
}



.main__body--az{
  display: block;
}

.main__body--lore{
  display: block;
}

.main__body--custom{
  display: block;
}

.fa-book{
  font-size: 120px;
  color: gray;
  cursor: pointer;
  position: relative;
  margin: 30px;
}

.book__text{
  font-size: 20px;
  font-weight: 700;
  font-style: italic;
  position: relative;
  bottom: 85px;
  font-family: 'Itim', cursive;
  cursor: pointer;
  color: black;
  text-shadow: 1px 1px rgb(187, 180, 180);
}

.main__search--container{
  position: relative;
  top: 30px;
}

.positional__helper{
  /* position: relative;
  top: 100px;
  left: 650px; */
  /* height: 100vh; */
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  align-items: center;
  position: absolute;
  top: 100px;
}

.main__search--input{
  height: 30px;
  width: 300px;
  border-radius: 9%;
}

.main__search--header{
  font-size: 60px;
  font-family: 'Itim', cursive;
  margin-bottom: 30px;
}
