.search__results{
  margin-top: 100px;
  /* background-color: lightcoral; */
  /* width: 600px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.null__result{
  font-size: 26px;
  font-weight: 700;
  font-family: 'Girassol', cursive;
  color: black;
  text-shadow: 2px 1px rgb(196, 18, 18);
}
