.login__container{
  text-align: center;
}

.login__header{
  font-size: 115px;
  font-weight: 700;
  font-family: 'Creepster', cursive;
  margin-top: 200px;
  margin-bottom: 30px;
  text-shadow: 2px 2px rgb(170, 13, 13);
  text-decoration: none;
  color: black;
}

.login__form{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login__form--input{
  height: 25px;
  width: 160px;
  margin: 10px 0px;
  border-radius: 7px;

}

.login__form--input.pass{
  margin-bottom: 30px;
}

.login__form--buttons{
  display: flex;
  flex-direction: column;
  /* height: 20px; */
  /* width: 160px; */


}

.login__form--button{
  margin-bottom: 10px;
  margin-left: 30px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 100px;
  margin-right: 30px;
  text-decoration: none;
  border-radius: 7%;
  background-color: rgba(170, 13, 13, .8);
  color: white;
  font-family: 'Itim', cursive;
  font-size: 18px;
}


.login__form--nav{
  margin-top: 80px;
  text-decoration: none;
  font-family: 'Itim', cursive;
  font-size: 22px;
}

.login__nav--button{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 10px;
  height: 30px;
  box-sizing: border-box;
  border-radius: 7px;
  margin-top: 10px;
  background: black;
  color: white;
  font-family: 'Itim', cursive;
  cursor: pointer;
  text-decoration: none;


}

.error__message{
  animation: fadeIn 1s;
  font-family: 'Itim', cursive;

}
@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
