.main__body--creature{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  margin-top: 100px;
}

.creature__decription{
  /* display: flex; */
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 900px;
  margin-top: 20px;
  margin-bottom: 80px;
  box-sizing: border-box;
  padding: 15px;
  font-family: 'Girassol', cursive;
  font-size: 22px;
  background-color: gray;
  border: 1px double black;
  white-space: pre-wrap;
}
.edit__creature{
  margin-bottom: 10px;
  text-align: end;
  cursor: pointer;
}

.creature__name{
  font-family: 'Creepster', cursive;
  text-shadow: 2px 2px rgb(170, 13, 13);
  font-size: 40px;
  font-weight: 700;
}

.creature__tag--Lore{
  margin-top: 10px;
  padding: 4px;
  font-family: 'Girassol', cursive;
  font-size: 16px;
  font-weight: bold;
  background-color: rgb(206, 70, 7);
  /* border-radius: 30%; */
  border: 1px double black;
}

.creature__tag--Custom{
  margin-top: 10px;
  padding: 4px;
  font-family: 'Girassol', cursive;
  font-size: 16px;
  font-weight: bold;
  background-color: rgb(33, 189, 33);
  /* border-radius: 30%; */
  border: 1px double black;
}

.submit__create--edit{
  /* align-items: center;
  /* display: flex; */
  /* justify-content: center; */
  align-items: center;
  text-align: center;
  width: auto;
  height: 50px;
  margin-top: 10px;
  margin-left: 15%;
  display: block;
  background-color: whitesmoke;
  text-decoration: none;
  color: black;
  border-left: 1px solid grey;
  border-right: 1px solid grey;
  border-bottom: 1px solid grey;
  font-family: 'Girassol', cursive;
  font-size: 22px;
  cursor: pointer;
}

.creature__picture{
  height: 300px;
  width: 400px;
  margin-bottom: 20px;
}

.favorite_icon, .fa-heart{
  cursor: pointer;
}
/* .favorite_icon, .far-heart{
  cursor: pointer;
} */

.top__bar{
  display: flex;
  justify-content: end;
  align-items:end;
  justify-content: space-between;
}
