.main__body--creature{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  margin-top: 100px;
}

.creature__decription{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 500px;
  margin: 30px;
  box-sizing: border-box;
  padding: 5px;
  font-family: 'Girassol', cursive;
  font-size: 22px;
  background-color: gray;
  border-radius: 7%;
  border: 1px double black;
}

.creature__name{
  font-family: 'Creepster', cursive;
  text-shadow: 2px 2px rgb(170, 13, 13);
  font-size: 40px;
  font-weight: 700;
}

.creature__tag--Lore{
  margin-top: 10px;
  padding: 4px;
  font-family: 'Girassol', cursive;
  font-size: 16px;
  font-weight: bold;
  background-color: rgb(206, 70, 7);
  /* border-radius: 30%; */
  border: 1px double black;
}

.creature__tag--Custom{
  margin-top: 10px;
  padding: 4px;
  font-family: 'Girassol', cursive;
  font-size: 16px;
  font-weight: bold;
  background-color: rgb(33, 189, 33);
  /* border-radius: 30%; */
  border: 1px double black;
}
