.navbar__container{
  width: 100vw;
  position: static;
  display: flex;
  align-items: center;
  margin-top: 10px;

}

.navbar__header--container{
  position: fixed;
  left: 10px;
  top: 10px;
}

.navbar__header{
  color: black;
  text-decoration: none;
  font-size: 40px;
  font-family: 'Creepster', cursive;
  margin-left: 20px;
  text-shadow: 2px 2px rgb(170, 13, 13);
  box-sizing: border-box;
}
.navbar__header:hover{
  transform: translate(2px, 2px);
}
.navbar__user--container{
  display: flex;
  position: fixed;
  right: 30px;
  top: 10px;
}


.navbar__username{
  display: flex;
  justify-content: flex-end;
  font-size: 30px;
  font-family: 'Girassol', cursive;
  /* font-family: 'Creepster', cursive; */
  text-shadow: 1px 1px rgb(170, 13, 13);
  margin-left: 210px;
}

.navbar__usermenu{
  font-size: 24px;
  margin-left: 12px;
  margin-top: 4px;
  cursor: pointer;
  color: black;
  /* text-shadow: 1px 1px rgb(219, 215, 215); */
}

.navbar__usermenu:hover{
  transform: rotate(-90deg);
  transition: 1s;
}

.hidden {
  visibility: hidden;
}

.usermenu{
  position: absolute;
  /* height: 100px; */
  /* width: 100px; */
  top: 40px;
  right: 10px;
  z-index: 5;
  /* background: aliceblue; */
}
