.navbar__container{
  width: 100vw;
  position: static;
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.navbar__header--container{
  position: fixed;
  left: 10px;
  top: 10px;
  /* width: 33%; */
}

.navbar__search--container{
  /* width: 33%; */
}

.navbar__user--container{
  /* width: 33%; */
  display: flex;
  position: fixed;
  right: 30px;
  top: 10px;
}
.navbar__header{
  font-size: 40px;
  /* font-weight: 700; */
  font-family: 'Creepster', cursive;
  /* margin-top: 200px; */
  /* margin-bottom: 30px; */
  margin-left: 40px;
  /* margin-top: 10px; */
  text-shadow: 2px 2px rgb(170, 13, 13);
  box-sizing: border-box;
}

.navbar__username{
  display: flex;
  justify-content: flex-end;
  font-size: 30px;
  font-family: 'Itim', cursive;
  /* font-family: 'Creepster', cursive; */
  text-shadow: 1px 1px rgb(170, 13, 13);
  margin-left: 210px;
}

.navbar__usermenu{
  font-size: 24px;
  margin-left: 12px;
  margin-top: 4px;
  cursor: pointer;
  color: black;
  /* text-shadow: 1px 1px rgb(219, 215, 215); */
}
