.main__container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* margin-bottom: 80px; */
}

.result__container{
  /* display: flex; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* margin-top: 100px; */
  height: 100px;
  width: 500px;
  padding-left: 10px;
  /* margin: 10px; */
  box-sizing: border-box;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  /* overflow: hidden;
  text-overflow: ellipsis; */
  border: solid 1px black;
  background-color: grey;
  border-radius: 7px;
  box-shadow: 1px 1px 1px red;
}

.result__link{
  text-decoration: none;
  color: black;
  width: 200px;

}

.info__container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "Thumbnail Name Name Favorite"
    "Thumbnail Description Description Favorite";
  align-items: center;
  width: 520px;

}

.result__name{
  grid-area: Name;
  font-size: 22px;
  font-weight: 700;
  font-family: 'Creepster', cursive;
  margin-bottom: 2px;
  text-shadow: 1px 1px rgb(170, 13, 13);
}

.result__description{
  grid-area: Description;
  height: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: 'Girassol', cursive;
  /* font-weight: 500; */
}

.result__thumbnail{
  grid-area: Thumbnail;
  align-items: center;
  height: 80px;
  width: 80px;
  justify-content: start;
  border-radius: 3px;
}

