.main__container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* margin-bottom: 80px; */
}

.result__container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* margin-top: 100px; */
  height: 100px;
  width: 500px;
  padding: 10px;
  /* margin: 10px; */
  box-sizing: border-box;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  /* overflow: hidden;
  text-overflow: ellipsis; */
  border: solid 1px black;
  background-color: grey;
  border-radius: 7px;
  box-shadow: 1px 1px 1px red;
}

.result__link{
  text-decoration: none;
  color: black;
}

.result__name{
  font-size: 22px;
  font-weight: 700;
  font-family: 'Creepster', cursive;
  margin-bottom: 10px;
  text-shadow: 1px 1px rgb(170, 13, 13);
}

.result__description{
  height: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: 'Girassol', cursive;
  font-weight: 500;
}
